.strip--forestgreen {
    background-color: forestgreen;
}

.strip--khaki {
    background-color: khaki;
}

.strip--dodgerblue {
    background-color: dodgerblue;
}

.strip--orange {
    background-color: orange;
}

.strip--violet {
    background-color: violet;
}