@media (min-width: 481px) and (max-width: 768px) {
  .header {
    background-color: #e73838;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    position: relative;
  }

  .header__logo {
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
  }

  .header__nav {
    /* display: none; */
    position: absolute;
    top: 100%;
    right: 0;
  }

  .header__nav ul {
    display: flex;
    gap: 2rem;
  }

  .nav__link {
    cursor: pointer;
  }

  .header__hamburger {
    display: block;
    font-size: 2rem;
  }

  #menu-toggle:checked ~ .header__nav {
    /* max-height: 500px; */
  }

  .container {
    max-width: 1400px;
    margin: 2.4rem auto;
    display: flex;
    padding: 1rem;
    gap: 1.5rem;
  }

  .container__content {
    flex: 1;
  }

  .container__heading {
    font-weight: bold;
    font-size: 2rem;
    color: #3a3a3a;
  }

  .container__paragraph {
    padding: 1rem 0;
    margin-top: 2rem;
    color: #3a3a3a;
    line-height: 2.4rem;
  }

  .cards {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .card {
    border: 0.3rem solid black;
    width: calc((100% - 1rem) / 2);
  }

  .card__header {
    background-color: #3a3a3a;
    color: white;
    padding: 1.6rem 1rem;
    font-weight: bold;
  }

  .card__content {
    padding: 1rem;
    line-height: 2.4rem;
  }

  .container__sidebar {
    width: 25rem;
    min-height: 40rem;
    background-color: #3a3a3a;
    padding: 1.6rem 2rem 1.6rem 1.6rem;
    color: white;
    line-height: 2.4rem;
  }
}
