h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: chocolate;
}

p {
    color: black;
}

.title {
    color: violet;
}

.section {
    color: brown;
    background-color: rgb(18, 53, 53);
}

.highlight {
    color: rgb(243, 243, 44);
}

.big {
    color: olive;
    /* background-color: aqua; */
}

#main {
    color: orange;
    background-color: rgb(18, 87, 5);
}

#special {
    color: peachpuff;
}